/.qmake.stash
/Makefile
/build/
/CapiCity
/ui_about.h
/ui_auction.h
/ui_capicity.h
/ui_config.h
/ui_field.h
/ui_gamebooloption.h
/ui_gameconfig.h
/ui_gameintoption.h
/ui_notifier.h
/ui_playerauction.h
/ui_playerinfo.h
/ui_serverchooser.h
/ui_trade.h
/ui_tradeitem.h
